<template>
  <div id="app">
    <div v-html='xls_form.form'></div>
  </div>
</template>

<script>
import xml2json from 'simple-xml2json'
// import xls_form from './bwa.json'
import xls_form from './nam.json'
global.$ = require("jquery")
global.jQuery = global.$
const Form = require('enketo-core')

export default {
  name: 'app',
  data () {
    return {
      xls_form: xls_form,
      form: null,
      xml_form: null
    }
  },
  mounted() {
    // const formSelector = '#ChobeIRS.2016.final'
    const formSelector = '#IRSForm2016'

    // required object containing data for the form
    const formData = {
      // required string of the default instance defined in the XForm
      modelStr: this.xls_form.model,
      // optional string of an existing instance to be edited
      // instanceStr: null,
      // optional boolean whether this instance has ever been submitted before
      // submitted: false,
      // optional array of external data objects containing: 
      // {id: 'someInstanceId', xmlStr: '<root>external instance content</root>'}
      // external: [],
        // optional object of session properties 
        // 'deviceid', 'username', 'email', 'phonenumber', 'simserial', 'subscriberid'
        // session: {}
    }

    this.form = new Form(formSelector, formData)
    // this.form = new Form(formSelector, {})
    const loadErrors = this.form.init()
    // console.log(loadErrors)

    console.log(xls_form.form)
    // this.xml_form = xml2json.parser(xls_form.form)
  }
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

img {
  width: 200px;
  height: 200px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
